.button {
  &.is-primary {
    background-color: transparent !important;
    border-radius: rem(32);
    padding: rem(24) rem(32);
    min-width: rem(166);
    color: $white !important;
    border-color: $white !important;

    &:hover {
      color: $green !important;
      border-color: $green !important;
    }
  }

  &--back {
    margin-bottom: rem(40);
  }

  &--narrow {
    border: none;
    padding: rem(4) rem(15);
    border-radius: rem(20);
    outline: none;
    display: block;
    cursor: pointer;

    &.button--green {
      background: $green;
      color: $mine-shaft;
    }

    &.button--blue {
      background: $chetwode-blue;
      color: $white;
    }

    &.button--red {
      background: $cinnabar;
      color: $white;
    }
  }
}
