.card {
  background-color: $outer-space;
  color: $white;
  box-shadow: none;

  &__title {
    border-bottom: rem(1) solid $mako;
    margin-bottom: rem(20);
    padding-bottom: rem(10);

    h3 {
      font-size: rem(22);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__key {
    font-weight: 600;
  }

  &__actions {
    &-text {
      margin-bottom: rem(20);
    }

    button {
      margin-bottom: rem(12);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
