.employee {
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: 0;
  }

  @include from($tablet) {
    margin-bottom: 0;
  }

  &__image {
    margin-bottom: rem(15);

    img {
      border-radius: rem(6);
    }
  }
  &__name {
    font-size: rem(28);
    font-weight: $weight-bold;
  }
}
