.footer {
  padding: rem(50) rem(20);
  text-align: left;
  background-color: $heavy-metal !important;
  color: $white;

  @include from($desktop) {
    padding: rem(65) 0 rem(20) !important;
  }

  h2 {
    color: $white;
    font-size: rem(80);
    text-transform: uppercase;
    margin-bottom: rem(60) !important;
  }

  &__contact {
    font-size: rem(18);
    margin-bottom: rem(40);

    a {
      color: $green-light;

      &:hover {
        color: $green-dark;
      }
    }
  }

  &__twitch {
    img {
      max-width: rem(40);
    }

    svg {
      width: rem(30) !important;
      height: rem(30) !important;
      color: $white;
    }
  }

  &__copyright {
    a {
      color: $white;
      margin-right: rem(20);
    }
  }

  &__socialmedia {
    margin-bottom: rem(80);
    img {
      display: inline-block;
      max-width: rem(30);
      margin-right: rem(10);
    }

    svg {
      width: rem(30) !important;
      height: rem(30) !important;
      color: $white;
      margin-right: rem(5);
    }
  }
}
