.hamburger {
  width: rem(25);
  height: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: rem(20);
  right: rem(32);
  z-index: 3;

  @include from($tablet) {
    right: rem(30);
  }

  @include from($desktop) {
    right: rem(60);
  }

  &:hover {
    cursor: pointer;
  }

  &__item {
    height: rem(4);
    width: 100%;
    background: $white;
    transition: transform 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
      opacity 300ms linear;

    &--first {
      .hamburger--is-open & {
        transform: translate(0, 10px) rotate(45deg);
      }
    }

    &--middle {
      .hamburger--is-open & {
        opacity: 0;
      }
    }

    &--last {
      .hamburger--is-open & {
        transform: translate(0, -6px) rotate(-45deg);
      }
    }
  }
}

.topbar {
  &.nav-is-active {
    .hamburger {
      right: rem(45);

      @include from($desktop) {
        right: rem(75);
      }
    }
    .hamburger__item {
      background: $white;
    }
  }
}
