.intro {
  position: relative;

  &__image {
    background: url("./assets/theme/intro.jpg");
    position: relative;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(700);
    filter: blur(2px);
  }

  &__content {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    @include from($desktop) {
      width: 55%;
    }

    h1 {
      font-size: rem(50);
      color: $white;
      text-shadow: 2px 2px 15px #26272a;
      margin-bottom: rem(20);

      @include from($desktop) {
        font-size: rem(70);
      }
    }

    p {
      font-size: rem(40);
      color: $white;
      text-shadow: 2px 2px 15px #26272a;
      margin: 0 0 rem(40) 0;
    }

    .button {
      font-size: rem(16);
    }
  }
}
