.mainnav {
  &__content {
    position: fixed;
    width: 100%;
    height: 100%;
    right: rem(-2000);
    background: #4a4a4a;
    z-index: 2;
    top: 0;
    transition: right 150ms ease;
    padding-bottom: rem(80);
    overflow-x: auto;

    @include from($tablet) {
      width: 55%;
    }

    @include from($desktop) {
      width: 45%;
    }
  }

  &__links,
  &__fixed-links {
    margin: rem(80) auto;
    width: 80%;

    a {
      font-size: rem(40);
      color: $white;
      text-align: center;
      display: block;
      margin-bottom: rem(15);

      &:hover {
        text-decoration: underline;
        background: transparent;
        color: $white;
      }
    }
  }

  &__social-media {
    &-title {
      font-size: rem(46);
      text-transform: uppercase;
      text-align: center;
    }

    &-icons {
      display: flex;
      justify-content: center;

      a {
        margin-right: rem(20);
        font-size: rem(40);
        color: $white;
        text-align: center;
        display: block;

        &:hover {
          svg {
            color: $green;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &--active {
    .mainnav__content {
      right: 0;
    }

    .hamburger__item {
      background: $white;
    }
  }
}
