.teaser {
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: 0;
  }

  @include from($tablet) {
    margin-bottom: 0;
  }

  &__image {
    margin-bottom: rem(15);
    border-radius: rem(6);
    position: relative;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: rem(404);
  }

  &__date {
    color: $green;
    font-size: rem(18);
    font-weight: $weight-bold;
    margin-bottom: rem(15);
  }

  &__title {
    h2 {
      color: $black;
      font-size: rem(28);
    }
  }
}
