.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(15) rem(20);
  background: $heavy-metal;

  @include from($desktop) {
    padding: rem(15) rem(50);
  }

  .logo {
    max-width: rem(120);
  }
}
