html,
body {
  padding: 0;
  margin: 0;
}

main {
  text-align: left;

  .button {
    font-size: rem(20);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.content-element {
  margin-bottom: rem(80);
}

.site-title {
  font-size: rem(34);
  margin-bottom: rem(20);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.select,
select {
  width: 100%;

  &:after {
    border-color: $black !important;
  }
}

.error {
  color: $cinnabar;
  margin-bottom: rem(10);
}
