p {
  &.important {
    font-size: rem(28);
    font-weight: $weight-bold;
    line-height: 1.35;

    @include from($tablet) {
      font-size: rem(36);
    }

    @include from($desktop) {
      font-size: rem(42);
    }
  }
}

h2 {
  margin-bottom: em(40, 32) !important;
}
