$green: #00ff00;
$green-dark: #036903;
$green-light: #aadb91;
$yellow: #ffff00;
$white: #ffffff;
$catskill-white: #f5f8fa;
$geyser: #dce4e8;
$gull-gray: #94a1b1;
$dusty-gray: #999999;
$mako: #41464c;
$tundora: #4a4a4a;
$shark: #26292f;
$mine-shaft-light: #3e3d3d;
$mine-shaft: #333333;
$outer-space: #303439;
$codgray-light: #1e1e1e;
$codgray: #161616;
$black: #000000;

$cinnabar: #e74444;

$chetwode-blue: #7d88d7;

$weight-bold: 700;

$tablet: 768px !default;
$desktop: 1024px !default;

$sidenavigation-width: 112;
$sidenavigation-logo-width: 74;
$sidenavigation-top-offset: 23;
$sidenavigation-bottom-offset: 30;
