.dashboard {
  background-color: $shark;
  min-height: 100vh;
  color: $white;

  main {
    margin-left: rem($sidenavigation-width);
    padding: rem(16) rem(56);
  }

  .button {
    &.is-primary {
      background-color: $green !important;
      color: $black !important;
      border: none;
      padding: rem(10) rem(20);

      &:hover {
        background-color: $green-dark !important;
        color: $white !important;
      }
    }
  }
}
