.columns {
  flex-wrap: wrap;
}

.section {
  &--no-padding {
    padding: 0 !important;
  }

  &--black {
    background-color: $black;

    .teaser__title {
      h2 {
        color: $white;
      }
    }
  }

  &--grey {
    background-color: $shark;

    .teaser__title {
      h2 {
        color: $white;
      }
    }
  }

  &--white {
    background-color: $gallery-dark;

    .teaser__title {
      h2 {
        color: $black;
      }
    }

    .teaser__date {
      color: $black;
    }

    .title {
      color: $black;
    }

    .button {
      &.is-primary {
        color: $black !important;
        border-color: $black !important;

        &:hover {
          color: $green-semi-dark !important;
          border-color: $green-semi-dark !important;
        }
      }
    }
  }
}

.container {
  .content-element {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
