// --> set Bulma variables here! <--
$primary: $green !default;
$title-color: $green !default;
$size-2: 32px !default;
$size-3: 28px !default;

@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";
